BasedOnStyle: LLVM
BreakBeforeBraces: Attach
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left
UseTab: ForIndentation
IndentWidth: 4
TabWidth: 4
ColumnLimit: 0
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
SortIncludes: false
